/* Global Button */
.btn-primary {
  position: relative;
  overflow: hidden;
  background-color: #D80712;
  color: white;
  padding: 12px 32px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(230, 57, 70, 0.4);
}

.btn-primary:hover {
  background-color: rgb(180, 17, 28);
  transform: translateY(-3px);
  box-shadow: 0 8px 25px rgba(230, 57, 70, 0.5);
}

/* Glass Shine Effect */
.btn-primary::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -75%;
  width: 50%;
  height: 200%;
  background: rgba(255, 255, 255, 0.25);
  transform: skewX(-20deg);
  transition: left 0.5s ease;
}

.btn-primary:hover::after {
  left: 125%;
}





/* navbar */

